table.months
{
	padding: 10px 10px 10px 10px;
}
table.calender
{
	border: 2px solid #428bca;
	height: 100%;
	width: 100%;
    table-layout: fixed;
}

tr.dayDetail
 {
     /*border: 1px solid #428bca;*/
     height: 100px;
 }

tr.day
{
	/*border: 1px solid #428bca;*/
	height: 100px;
}

tr.date
{
	border-collapse:collapse;
    border-top: 1px solid #428bca;
}

td.daysDetail{
    border-right: 1px solid #428bca;
    overflow: hidden;
}

a.showMe{
    display:none;
}

td.days
{
    border-right: 1px solid #428bca;
    overflow: hidden;
}

td.days:hover > a.showMe{
    display:block;
}

div.scrollable:hover + a.showMe{
    display:block;
}

div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}